@{
    ViewData["Title"] = "Todo Page";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body onload="Init()">
    <asp:Content ContentPlaceHolderID="BodyContent" runat="server">
        <div class="view">
            <ul class="todo-list" data-bind="foreach: toDoItems">
                <li  data-bind="css: { completed: completed}">
                    <div class="items_view">
                        <input class="toggle" data-bind="checked: completed,  click: $root.changeStatusToDoItem" type="checkbox">
                        <label data-bind="text: title"></label>
                        <button class="destroy" data-bind="click: $root.removeToDoItem"></button>
                        <!--ko if: completed -->
                        <label class="status statusComplete">Completed</label>
                        <!-- /ko -->
                        <!--ko ifnot: completed -->
                        <label class="status statusInProgress">Pending</label>
                        <!-- /ko -->
                    </div>
                </li>
            </ul>          

            <input class="txt" data-bind="value: current, valueUpdate: 'afterkeydown', enterKey: addToDoItem" placeholder="Add new todo item" autofocus />
            <button data-bind="click: addToDoItem">Add new task</button>

        </div>
    </asp:Content>
    </body>

<asp:Content ContentPlaceHolderID="ExtraScriptContent" runat="server">
    <script type="text/javascript" src='~/ViewModel/TodoListVM.js'></script>
</asp:Content>
