@{
    ViewData["Title"] = "Home Page";
}
<asp:Content ContentPlaceHolderID="BodyContent" runat="server">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <table>
            <thead>
                <tr>
                    <td>ToDo List</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: toDoItems">
                <tr>
                    <td><label data-bind="text: toDoItem"></label></td>
                    <td><a href="#" data-bind="click: $root.removeToDoItem">Remove</a></td>
                </tr>
            </tbody>
        </table>

        <input class="txt" />
        <button data-bind="click: addToDoItem">Add Item</button>

    </div>
</asp:Content>

<asp:Content ContentPlaceHolderID="ExtraScriptContent" runat="server">
    <script type="text/javascript" src='~/ViewModel/TodoListVM.js'></script>
</asp:Content>
